{% load humanize %}
{% load static %}
<div class="divider-12 parent-float-fix">
    <div class="divider-12 float-right bg-dark px-2 py-2" style="border-radius: 12px">
        <div class="parent-float-fix my-2 ">
            {% for v in bookmark_cards %}
                <div class="float-left my-2" id="id-ajax-remove-bookmark-{{ v.id }}">
                    <div class="container">
                        <div class="box responsive-3-14">
                            <div  onclick="ajax_remove_bookmark('{% url 'product:remove_bookmark' v.id %}')">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger responsive-3-11">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-x-circle-fill responsive-3-10" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                    </svg>
                                </span>
                            </div>
                            <a href="{{ v.get_absolute_url }}" style="color: unset">
                                {% for img in v.rel_watch_images.all %}
                                    {% if img.is_main %}
                                        <img src="{{ img.image.url }}" height="55%" class="card-img-top rounded responsive-3-12"
                                             style="object-fit: cover"
                                             alt="{{ v.brand }}-{{ v.name }}">
                                    {% endif %}
                                {% endfor %}
                                <div>
                                    <strong class="text-warning">{{ v.brand }} {{ v.name }}</strong>
                                    <p class="text-light">
                                        {{ v.min_price|intcomma }} TMN
                                    </p>
                                    <div class="parent-float-fix">
                                        {% for c in v.rel_watch_variants.all %}
                                            <div class="float-left divider-2"
                                                 style="background-color: #{{ c.face_color.hex_color }}; height: 4px; margin-right: 5px"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block script %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}