{% extends 'base.html' %}
{% load static %}
{% block title %}404 not found{% endblock %}

{% block body_css %}background-image: url('https://s3.ir-thr-at1.arvanstorage.ir/hm-watch-1/static/404.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=e9f037a1-6461-496b-88c2-47770e9a5330%2F20230826%2Fir-thr-at1%2Fs3%2Faws4_request&X-Amz-Date=20230826T144625Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=14d0a82ef3e6ebee0cbc020df291ec2959c95602433f4584ae167f268c488366'); background-size: cover; background-repeat: no-repeat;{% endblock %}